#!/bin/sh

# LightDM will execute this. beware


#if [[ -f ~/.extend.xinitrc ]];then
#    . ~/.extend.xinitrc
#else
#    DEFAULT_SESSION=openbox-session
#fi

XDG_CONFIG_HOME="$HOME/.config"
export XDG_CONFIG_HOME


userresources=$HOME/.Xresources
usermodmap=$HOME/.xmodmaprc


# merge in defaults and keymaps



# if [ -d /etc/X11/xinit/xinitrc.d ]; then
#   for f in /etc/X11/xinit/xinitrc.d/*; do
#     [ -x "$f" ] && . "$f"
#   done
#   unset f
# fi

if [ -f "$userresources" ]; then
    xrdb -merge "$userresources"
fi

if [ -f "$usermodmap" ]; then
    xmodmap "$usermodmap"
fi

if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
       eval `dbus-launch --sh-syntax --exit-with-session`
fi

#exec openbox-session 2>&1 | tee /tmp/blah



# xinput --set-prop 11  "Device Accel Constant Deceleration" 2.0
# xinput --set-prop 11 "Device Accel Velocity Scaling" 10

imwheel --kill

if [ "$(hostname)" = 'stinkbox' ]; then
    #exec nvidia-settings --load-config-only

    # keyboard rate
    xset r rate 200 30

    xrandr --output DP-2 --primary --output DP-5 --left-of DP-2 --output HDMI-0 --right-of DP-2
    # xrandr  --output DP-2 --dpi 192
else
# disables mouse accel on my thinkpad
    xinput --set-prop 12  'libinput Accel Profile Enabled' 0, 1
fi


exec i3
