#!/bin/sh

# LightDM will execute this. beware


#if [[ -f ~/.extend.xinitrc ]];then
#    . ~/.extend.xinitrc
#else
#    DEFAULT_SESSION=openbox-session
#fi

XDG_CONFIG_HOME="$HOME/.config"
export XDG_CONFIG_HOME



if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
    eval `dbus-launch --sh-syntax --exit-with-session`
fi


imwheel --kill


xrdb -merge "$HOME/.Xresources"

# keyboard rate
# xset r rate 200 30

#exec nvidia-settings --load-config-only

# xrandr --output DP-2 --primary --output DP-5 --left-of DP-2 --output HDMI-0 --right-of DP-2
# xrandr  --output DP-2 --dpi 192

xinput --set-prop TPPS/2\ IBM\ TrackPoint  'libinput Accel Profile Enabled' 0, 1
xinput  --set-prop TPPS/2\ IBM\ TrackPoint 'libinput Button Scrolling Button' 3
xinput --set-prop TPPS/2\ IBM\ TrackPoint  --type=int  'libinput Middle Emulation Enabled' 1
# xinput --set-button-map  TPPS/2\ IBM\ TrackPoint 1 3 2 4 5 6 7

exec i3
