!Xft.dpi: 192
!Xft.dpi: 96
!Xft.antialias: true
!Xft.hinting: true
!Xft.rgba: rgb
!Xft.autohint: false
!Xft.hintstyle: hintslight
!!Xft.hintstyle: hintfull
!Xft.lcdfilter: lcddefault
!Xcursor.size: 48
!Xcursor.theme: spg-cursor-light
Xft.dpi: 180
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb



!URxvt.scrollBar:           true
!URxvt.saveLines:           8192
!URxvt.internalBorder:      0
!URxvt.externalBorder:      0
!URxvt.highlightSelection:  true
!URxvt.loginShell:          true
URxvt.termName:            xterm-256color
!URxvt.letterSpace:         -1
!!URxvt.font:                xft:MesloLGM Nerd Font:style=RegularForPowerline:size=11
URxvt.font:                xft:Consolas for Powerline:style=Regular:size=11
!URxvt.perl-ext-common:     default,tabbedex
!URxvt.perl-ext-common: ...,tabbed,...
URxvt.perl-ext-common:  ...,resize-font,...
!
!!URxvt.boldFont:           xft:DejaVu Sans Mono:pixelsize=15:style=Bold
!
!!URxvt.colorBD:             #FFFFFF
!
!URxvt.underlineColor:      white
!URxvt.highlightColor:      darkred
!
!URxvt.mapAlert:            true
!URxvt.borderColor:         black
!URxvt.scrollColor:         black
!URxvt*scrollBar_right:     true

!# XTERM

xterm*faceName:  Consolas for Powerline FixedD:style=Regular
xterm*faceSize: 12
xterm*saveLines: 16384
xterm*loginShell: true
! mouse selection stuff
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-256color
xterm*eightBitInput: false
xterm*rightScrollBar: true
xterm*ScrollBar: true
xterm*scrollTtyOutput: true
xterm*scrollBar: true
xterm*locale: UTF-8
xterm*utf8: always
xterm*boldMode: false

!XTerm*faceSize: 12.0

xterm*geometry: 100x30+100+50
!XTerm*geometry: 150x30+100+50

xterm*VT100.Translations: #override \
              <Key>BackSpace: string(0x7F)\n\
              <Key>Delete:    string(\033[3~)\n\
              <Key>Home:      string(\033[1~)\n\
              <Key>End:       string(\033[4~)
xterm*ttyModes: erase ^?


#define base00 #212121
#define base01 #363636
#define base02 #424242
#define base03 #5c5c5c
#define base04 #b4b6ba
#define base05 #c0c5ce
#define base06 #cdd3de
#define base07 #f3f4f5
#define base08 #e57373
#define base09 #f99157
#define base0A #fac863
#define base0B #a6bc69
#define base0C #5fb3b3
#define base0D #6699cc
#define base0E #c594c5
#define base0F #ab7967

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06
