SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:e0:4c:ff:35:bc", NAME="wifi1"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:e0:4c:f3:88:8d", NAME="wifi1"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:24:d7:84:55:b8", NAME="wifi0"
